<div class="survival-analysis-component">
    <h3>Survival Analysis</h3>  

    <main>
        <clr-tabs>
            <clr-tab>
                <button clrTabLink>Survival Analysis</button>
                <clr-tab-content>
                    <app-survival-stats></app-survival-stats>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Risk Scores</button>
                <clr-tab-content>
                    <app-risk-scores></app-risk-scores>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </main>
</div>