.login-wrapper {
    .login-cover {
        background-image: url('/assets/images/mik_cover.jpg');
        background-size: cover;
        background-position: 50% 50%;
        flex: 1;
        opacity: 0.6;
    }
}