<div class="user-list-component">
    <clr-datagrid>
        <!-- <clr-dg-column>ID</clr-dg-column> -->
        <clr-dg-column>User Name</clr-dg-column>
        <clr-dg-column>Email</clr-dg-column>
        <clr-dg-column>Has Admin Role</clr-dg-column>

        <clr-dg-row *ngFor="let user of users">
            <!-- <clr-dg-cell>{{ user.id }}</clr-dg-cell> -->
            <clr-dg-cell>{{ user.userName }}</clr-dg-cell>
            <clr-dg-cell>{{ user.email || '-' }}</clr-dg-cell>
            <clr-dg-cell>
                <input
                    type="checkbox"
                    clrToggle
                    [checked]="user.userRoles.includes('ADMIN')"
                    (change)="toggleAdmin(user.userId, $event)"/>
            </clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>

</div>